* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 99vw;
  height: 100vh;
}

$yell: rgb(255, 227, 0);
$black: rgb(28, 30, 34);
$grey: rgb(39, 43, 48);
$text: rgb(200, 200, 200);
$error: rgb(192, 45, 45);
